ion-content ion-toolbar {
  --background: translucent;
}

.container {
  @media (max-width: 600px) {
    width: 100%;
  }
  @media (min-width: 601px) {
    width: 552px;
    margin: 0 auto;
  }
}

ion-item ion-label,
ion-item ion-select,
ion-item small {
  opacity: .5 !important;
}
