<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end" collapse="true">
            <ion-button (click)="openAboutModal()">
                <ion-icon color="medium" name="information-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'settings.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="end" collapse="true">
                <ion-button (click)="openAboutModal()">
                    <ion-icon color="medium" name="information-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title size="large">{{'settings.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container">
        <ion-card>
            <ion-item>
                <ion-label >{{'settings.darkmode' | translate}}</ion-label>
                <ion-toggle slot="end" color="success" [(ngModel)]="isDarkmodeActive"
                            (ngModelChange)="updateDarkMode()"></ion-toggle>
            </ion-item>
            <ion-item lines="none">
                <ion-text class="ion-padding-vertical">
                    <small>{{'settings.darkmode-info' | translate}}</small>
                </ion-text>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="isExtendedSecurityAvailable()">
            <ion-item>
                <ion-label >{{'settings.extended-security' | translate}}</ion-label>
                <ion-toggle slot="end" color="success" [(ngModel)]="isEnhancedSecurityActive"
                            (ngModelChange)="updateExtendedSecurity()"></ion-toggle>
            </ion-item>
            <ion-item lines="none">
                <ion-text class="ion-padding-vertical">
                    <small>{{'settings.extended-security-info' | translate}}</small>
                </ion-text>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item lines="none">
                <ion-label>{{'settings.language' | translate}}</ion-label>
                <ion-select  slot="end" interface="action-sheet" [selectedText]="customLocale"
                            (ionChange)="changeLang($event)">
                    <ion-select-option *ngFor="let lang of languages"
                                       value="{{lang}}">{{'languages.' + lang | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card class="ion-no-padding">
            <ion-button size="block" class="ion-no-margin"
                        (click)="exportModulesAsPDF()">{{'settings.pdf-download' | translate}}</ion-button>
        </ion-card>

        <ion-card class="ion-no-padding ion-text-center">
            <ion-card-header *ngIf="!!user">
                {{'settings.account.signed-in-as' | translate}} {{user.displayName}}<br>
                {{'account.email' | translate}}: {{user.email}}
            </ion-card-header>
            <ion-button *ngIf="isLoading" class="ion-no-margin" fill="clear">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-button>

            <ion-button *ngIf="user == null" (click)="logIn()" class="ion-no-margin" size="block" fill="outline"
                        color="primary">
                {{'account.login.title' | translate}}
            </ion-button>
            <ion-button (click)="logOut()" *ngIf="!!user" class="ion-no-margin" size="block" fill="outline"
                        color="primary">
                {{'account.logout' | translate}}
            </ion-button>
        </ion-card>

    </div>
</ion-content>
