.in-item {
  max-width: 100% !important;
}

.module-information-card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 20px !important;
  margin-top: 22px !important;
}

.container-wrapper {
  padding: 0 0 20px 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.gradesystem-card {
  margin-left: 0;
  margin-right: 0;
}

.faded-label {
  opacity: .5;
  font-size: 14px !important;
}

.gradesystem-select {
  min-width: 50% !important;
  opacity: .5;
  font-size: 14px !important;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px !important;
}
