<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Modules
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Modules</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list style="" [lines]="'none'" *ngIf="modules.length > 0">
        <ion-item *ngFor="let module of modules" style="">
            <ion-card style="width: 100%; display: flex" (click)="openModal(module)">
                <div style="height: 100%; width: 70%">
                    <ion-card-header>
                        <ion-card-title style="font-size: 1.5rem">{{module.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{module.teacher}}</p>
                        <p>{{module.location}}</p>
                    </ion-card-content>
                </div>
                <div>
                    <ion-card-content>
                        <p style="font-size: 4rem; font-weight: bold">{{module.average}}</p>
                    </ion-card-content>
                </div>
            </ion-card>
        </ion-item>
    </ion-list>
        <div *ngIf="modules.length == 0" class="animated headShake slower infinite" style="position: absolute;bottom: 10px;right: 100px;align-items: center; height: 56px; display: flex;margin-bottom: 0px">Add Module<ion-icon style="font-size: 1.8rem; margin-left: 10px" name="arrow-forward"></ion-icon></div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="dark"  (click)="openAddModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>
