<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{'modules.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'modules.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div *ngIf="modules.length > 0" >
        <ion-card *ngFor="let module of modules" style="display: flex;"
                  [style.backgroundImage]="module.color" (click)="openModal(module)">
            <div style="height: 100%; width: 60%;">
                <ion-card-header>
                    <ion-card-title style="font-size: 1.5rem" color="dark" [style.color]="textColorForNameByAverage(module)">{{module.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-label color="light" [style.color]="textColorForAverage(module)">{{module.teacher}}</ion-label><br>
                    <ion-label color="light" [style.color]="textColorForAverage(module)">{{module.building}}  {{module.room}}</ion-label>
                </ion-card-content>
            </div>
            <div style="min-height: 140px; display: flex!important;
     align-items: center!important;
justify-content: flex-end !important;">
                <ion-card-content style="padding-left: 10px !important;">
                    <ion-label style="font-size: 4.3rem; font-weight: bold;" color="dark" [style.color]="textColorForAverage(module)">{{module.average}}</ion-label>
                </ion-card-content>
            </div>
        </ion-card>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <div *ngIf="modules.length == 0" class="animated headShake slower infinite"
             style="width:200px;position: absolute;right: 60px;align-items: center; height: 56px; display: flex;margin-bottom: 0;" [style.color]="this.color">
            {{'module.add' | translate}}
            <ion-icon style="font-size: 1.8rem; margin-left: 10px" name="arrow-forward"></ion-icon>
        </div>
        <ion-fab-button color="dark" (click)="openAddModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
