<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end" collapse="true">
            <ion-button (click)="openOptions()">
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'subjects.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="end" collapse="true">
                <ion-button (click)="openOptions()">
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title size="large">{{'subjects.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div *ngIf="modulesEmpty" class="image-container">
        <div class="centered-image">
            <img src="assets/images/empty.png" class="ion-margin-bottom "
                 style="max-height: 100% !important;max-width: 100% !important;">
            <p class="ion-margin-bottom">Schaut ziemlich leer aus hier.</p>
        </div>
    </div>
    <ion-icon *ngIf="modulesEmpty" name="arrow-down-outline" class="ion-margin-top arrow slideInDown animated"
              style="font-size: 2em; width: 100%"></ion-icon>
    <div class="container">
        <ion-card class="subject-card" *ngFor="let m of subjectService.allModules"
                  [style.backgroundColor]="m.backgroundColor" (click)="openEditModal(m)">
            <ion-card-content>
                <ion-card-title>{{m.name}}</ion-card-title>
                <ion-grid>
                    <ion-row>
                        <!--Module does contain normal informations-->
                        <ion-col class="col" size="6" *ngIf="createRoomTextForModule(m) !== ''">
                            <div class="mw-100">
                                <ion-label color="dark" class="break-word">{{m.teacher}}</ion-label>
                                <br>
                                <ion-label color="dark">{{createRoomTextForModule(m)}}</ion-label>
                            </div>
                        </ion-col>

                        <!--Module doesn't contain room, teacher nor Exams-->
                        <ion-col class="col" *ngIf="createRoomTextForModule(m) == '' && m.exams.length !== 0">
                            <ion-label color="dark" class="ion-text-wrap">
                                {{'subjects.no-further-information' | translate}}
                            </ion-label>
                        </ion-col>

                        <!--Module grades-->
                        <ion-col class="col-grade">
                            <ion-label class="label" *ngIf="m.exams.length > 0" color="dark">{{m.average}}</ion-label>
                            <div *ngIf="m.exams.length == 0" class="no-grades-container">
                                <ion-label color="dark" class="bold">
                                    {{'subjects.no-grades-available' | translate}}
                                </ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
