<ion-header [translucent]="true">
    <ion-toolbar>
        <!--        <ion-buttons slot="end" collapse="true">-->
        <!--            <ion-button (click)="openOptions()">-->
        <!--                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>-->
        <!--            </ion-button>-->
        <!--        </ion-buttons>-->
        <ion-title>
            {{'subjects.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="end" collapse="true">
                <!--                <ion-button (click)="openOptions()">-->
                <!--                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>-->
                <!--                </ion-button>-->
            </ion-buttons>
            <ion-title size="large">{{'subjects.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="image-wrapper" *ngIf="modulesEmpty">
        <div class="center-container">
            <div class="ion-margin-bottom preview-image">
                <img src="assets/images/no-data.svg" alt="no-modules-found">
            </div>
            <p class="ion-margin-bottom">{{'subjects.entry-header' | translate}}</p>
        </div>
        <ion-icon name="arrow-down-outline" class="animated fadeInDown arrow"></ion-icon>
    </div>

    <div class="wrapper">
        <ion-card class="subject-card" *ngFor="let m of subjectService.allModules" color="light"
                  [style.background-color]="getBackgroundColor(m.backgroundColor)" (click)="openEditModal(m)">
            <ion-card-content>
                <ion-card-title [style.color]="getFontColor(m.backgroundColor)">{{m.name}}</ion-card-title>
                <ion-grid>
                    <ion-row>
                        <!--Module does contain normal informations-->
                        <ion-col class="col" size="6" *ngIf="createRoomTextForModule(m) !== ''">
                            <div class="mw-100">
                                <ion-label color="dark" [style.color]="getFontColor(m.backgroundColor)"
                                           class="break-word">{{m.teacher}}</ion-label>
                                <br>
                                <ion-label color="dark"
                                           [style.color]="getFontColor(m.backgroundColor)">{{createRoomTextForModule(m)}}</ion-label>
                            </div>
                        </ion-col>

                        <!--Module doesn't contain room, teacher nor Exams-->
                        <ion-col class="col" *ngIf="createRoomTextForModule(m) == '' && m.exams.length !== 0">
                            <ion-label color="dark" [style.color]="getFontColor(m.backgroundColor)"
                                       class="ion-text-wrap">
                                {{'subjects.no-further-information' | translate}}
                            </ion-label>
                        </ion-col>

                        <!--Module grades-->
                        <ion-col class="col-grade">
                            <ion-label class="label" [style.color]="getFontColor(m.backgroundColor)"
                                       *ngIf="m.exams.length > 0" color="dark">{{m.average}}</ion-label>
                            <div *ngIf="m.exams.length == 0" class="no-grades-container">
                                <ion-label color="dark" [style.color]="getFontColor(m.backgroundColor)" class="bold">
                                    {{'subjects.no-grades-available' | translate}}
                                </ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
