ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  --inner-padding-end: 0;
  --background: translucent;
}

ion-list {
  --offset-bottom: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  // IE 10+
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

.list-md {
  background: transparent !important;
}

.transparent-background {
  background: transparent !important;
}
