@media (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 56px
  }

  .subject-card {
    width: 100%;
    max-width: 400px;
    min-width: 120px;
  }

  .preview-image {
    max-width: 80%;
  }

  .parent-image-container {
    height: calc(95% - 156px);
  }
}

@media (min-width: 601px) {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 56px
  }

  .subject-card {
    flex: 1 1 280px;
    max-width: 400px;
    min-width: 120px;
  }

  .subject-card {
    height: 177px;
  }

  .preview-image {
    max-height: 400px;
  }

  .parent-image-container {
    height: calc(100% - 156px);
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  text-align: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px
}

.col {
  padding: 0 !important;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.mw-100 {
  max-width: 100%
}

.break-word {
  word-break: break-all;
}

.col-grade {
  padding: 0 !important;
  text-align: center !important;
}

.label {
  font-size: 4.9rem;
  font-weight: bold;
}

.no-grades-container {
  min-height: 93px !important;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.bold {
  font-weight: bold;
}

.arrow {
  width: 100%;
  text-align: center;
  font-size: 2em;
  animation-iteration-count: 3;
  --animate-duration: 4s;
}
