<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{isEdit ? subjectCopy.name : ('module.new-title' | translate)}}
        </ion-title>
        <ion-buttons *ngIf="isEdit" slot="start">
            <ion-button color="danger" (click)="deleteModule()">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <div class="container-wrapper">
        <div class="container">
            <ion-text>
                <h3>{{'module.about' | translate}}</h3>
            </ion-text>
            <ion-card class="module-information-card">
                <ion-row>
                    <ion-col>
                        <ion-input [placeholder]="'module.name' | translate" [(ngModel)]="subjectCopy.name"
                                   maxlength="50"></ion-input>
                        <ion-input [placeholder]="'module.room' | translate" [(ngModel)]="subjectCopy.room"
                                   maxlength="50"></ion-input>
                    </ion-col>
                    <ion-col style="float: bottom">
                        <ion-input [placeholder]="'module.teacher' | translate" [(ngModel)]="subjectCopy.teacher"
                                   maxlength="50"></ion-input>
                        <ion-input [placeholder]="'module.building' | translate" [(ngModel)]="subjectCopy.building"
                                   maxlength="50"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-card>

            <ion-text class="mt-16">
                <h3 class="mt-20">{{'module.exams' | translate}}</h3>
            </ion-text>
        </div>

        <app-exam [moduleExams]="subjectCopy.exams"></app-exam>
    </div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="success" (click)="saveSubject()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
