<ion-header [translucent]="true">
    <ion-toolbar color="light">
        <ion-title>
            {{'module.new_title' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div style="padding: 0 0 20px 0">

        <div style="padding-left: 20px; padding-right: 20px">
            <ion-text>
                <h3>{{'module.about' | translate}}</h3>
            </ion-text>
            <ion-card
                    style="margin-left: 0 !important; margin-right: 0 !important; padding-left: 20px !important; margin-top: 22px">
                <ion-row>
                    <ion-col>
                        <ion-input [placeholder]="'module.name' | translate" [(ngModel)]="this.newModule.name"
                                   maxlength="50"></ion-input>
                        <ion-input [placeholder]="'module.room' | translate" [(ngModel)]="this.newModule.room"
                                   maxlength="50"></ion-input>
                    </ion-col>
                    <ion-col style="float: bottom">
                        <ion-input [placeholder]="'module.teacher' | translate" [(ngModel)]="this.newModule.teacher"
                                   maxlength="50"></ion-input>
                        <ion-input [placeholder]="'module.building' | translate" [(ngModel)]="this.newModule.building"
                                   maxlength="50"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-card>

            <ion-text style="margin-top: 16px;">
                <h3 style="margin-top: 20px !important;">{{'module.exams' | translate}}</h3>
            </ion-text>
        </div>

        <div *ngIf="firstTime && newModule.exams.length === 1" class="animated headShake slower infinite"
             style="align-items: center; height: 20px; display: flex;justify-content: center" [style.color]="'#e3445a'">
            <ion-icon style="font-size: 1.3rem; margin-right: 10px" name="arrow-back"></ion-icon>
            {{'module.swipe' | translate}}
        </div>

        <ion-list *ngIf="!!newModule.exams" style="padding-left: 4px !important;" lines="none">
            <ion-item-sliding *ngFor="let exam of newModule.exams">
                <ion-item-options side="end">
                    <ion-item-option color="danger" style="padding-bottom: 16px" type="ios" (click)="removeExam(exam)">
                        <h3 slot="top" style="margin-bottom: 0 !important;"><ion-icon name="trash"></ion-icon></h3>
                        <ion-label slot="top">Delete</ion-label>
                    </ion-item-option>
                </ion-item-options>
                <ion-item style="display: flex;" >
                    <div style="padding: 10px 0 16px 0; min-width: 70%" [ngClass]="{'animated pulse delay-3s repeat-3': firstTime}">
                        <p style="font-size: 1.3rem; margin-top: 0; padding-left: 20px">{{exam.name}}</p>
                        <ion-datetime placeholder="Date" max="{{today}}" displayFormat="DD.M.YYYY" mode="ios" [ngModel]="exam.date"></ion-datetime>
                    </div>
                    <h1 style="text-align: right; max-width: 30%;margin-top: 0; font-size: 3rem">{{exam.grade}}</h1>
                </ion-item>
            </ion-item-sliding>
        </ion-list>


        <div style="padding-left: 20px; padding-right: 20px">
            <ion-card style="margin-left: 0 !important; margin-right: 0 !important;">
                <div style="padding: 10px 20px 16px 20px">
                    <ion-input [placeholder]="'module.exam_name' | translate" maxlength="50"
                               [(ngModel)]="exam.name"></ion-input>
                    <ion-input [placeholder]="'module.exam_grade' | translate" maxlength="3"
                               [(ngModel)]="exam.grade" (keyup.enter)="newExam()"></ion-input>
                    <ion-button color="success" expand="full" fill="solid" size="small"
                                (click)="newExam();">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </div>
            </ion-card>
        </div>
    </div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="success" (click)="saveModule()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
