<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{'settings.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button (click)="openAboutModal()"><ion-icon color="medium" name="information-circle-outline"></ion-icon></ion-button>
            </ion-buttons>
            <ion-title size="large">{{'settings.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
            <ion-row style="height: 55px">
                <ion-col style="display: flex!important;
     align-content: center!important;
     align-items: center!important;">
                    <ion-card-header style="padding-left: 20px;">{{'settings.darkmode' | translate}}</ion-card-header>

                </ion-col>
                <ion-col style="display: flex!important;
     align-items: center!important;
justify-content: flex-end !important;">
                    <ion-toggle style="margin-right: 20px" color="success" [(ngModel)]="darkmodeToggled" (ngModelChange)="updateDarkMode()"></ion-toggle>
                </ion-col>
            </ion-row>
    </ion-card>

    <ion-card>
        <ion-row>
            <ion-col style="display: flex!important;
            align-content: center!important;
            align-items: center!important;">
                <ion-card-header>{{'settings.language' | translate}}</ion-card-header>

            </ion-col>
            <ion-col style="display: flex!important;
     align-items: center!important;
justify-content: flex-end !important;">
                <ion-select style="padding-right: 20px; float: right; padding-top: 12px" interface="action-sheet" [selectedText]="customLocale"
                            (ionChange)="changeLang($event)">
                    <ion-select-option *ngFor="let lang of languages"
                                       value="{{lang}}">{{'languages.' + lang | translate}}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>

